# Ignore node_modules for server folder
/server/node_modules/
/server/Dockerfile
.env


# Ignore node_modules for client folder
/client/node_modules/
/client/.parcel-cache
/client/dist
/client/Dockerfile

# Ignore general node_modules, dist, and build folders
/node_modules/
/dist/
/build/
